version: "3.9"

services:
  backend:
    build: .
    ports:
      - "8080:8080"
    environment:
      - MONGO_URL=${MONGO_URL}
    depends_on:
      - mongo

  mongo:
    image: mongo:6
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data: